ELL_API_KEY=sk_e71f804531b373134aef302ac3dbbffa8622a8bcc4d1445b
ELL_VOICE_ID=FUfBrNit0NNZAwb58KWH
AWS_ACCESS_KEY_ID=AKIA3ZMX7IPEAK2ZRFP2
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-2
S3_BUCKET_NAME=intake.files
